:root {
  --white: #f9f9f9;
  --primary-color: #0063e5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #040714;
  color: var(--white);
}
nav {
  display: flex;
  align-items: center;
  padding-left: 5%;
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: 5px;
}
nav > .logo {
  width: 110px;
  margin-right: auto;
}

.btn {
  padding: 16px 24px;
  color: var(--white);
  text-decoration: none;
  border-radius: 4px;
  letter-spacing: 0.2px;
}
.signup {
  background-color: #0063e5;
  border: solid 1px var(--primary-color);
  margin-right: 20px;
  letter-spacing: 2px;
}
.signin {
  border: solid 1px var(--white);
  margin-right: 20px;
}

.gauche {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.gauche > * {
  margin-bottom: 20px;
  margin-left: 10%;
}

.gauche > h1 {
  margin-bottom: 50px;
  font-weight: bolder;
  font-size: 44px;
}

.gauche > img {
  width: 25%;
}
.eachPrix {
  display: flex;
}
.prix {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.prix > * {
  margin-bottom: 20px;
}

h3 {
  font-size: 26px;
}
.prix > h3 > span {
  margin-bottom: 30px;
  font-size: 16px;
  color: silver;
}
.signup2 {
  margin: 0;
  padding: 20px 20px;
  text-align: center;
  text-transform: uppercase;
}

.gauche > p {
  font-size: 12px;
  color: silver;
}
.condition {
  font-size: 17px;
  color: silver;
  letter-spacing: 0.2px;
  line-height: 25px;
}

.grid {
  display: grid;
  background-size: cover;
  align-items: center;
  height: 100vh;
}
.grid > picture {
  height: 100vh;
  object-fit: cover;
}
.gauche,
.grid > picture {
  grid-area: 1/1/2/2;
}
.desc {
  width: 100%;
  display: flex;
  align-items: center;

  padding: 5%;
  padding-top: 5%;
}
.descDroite {
  padding: 0 2vw;
}
.desc > img {
  width: 50%;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}
.descDroite > ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}
.descDroite > ul > li {
  color: silver;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 24px;
}
.signup3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}
.signup3 > a {
  width: 400px;
  height: 60px;
  padding: 20px 24px;
  text-align: center;
  margin: 0;
}

.signup3 > a > span {
  font-size: 20px;
}
.appareil {
  padding: 5%;
  text-align: center;
}
.detail {
  display: flex;
  align-items: flex-start;
  margin-top: 4%;
}
.eachAppareil > h3 {
  font-weight: bold;
  margin-top: 7%;
  margin-bottom: 10%;
}

li {
  color: silver;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
}
footer {
  text-align: center;
  padding: 7% 0;
  padding-bottom: 3%;
}
.footer {
  padding: 0 10%;
}

.footer > .logo {
  width: 8%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.lien {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lien > a {
  color: silver;
  text-decoration: none;
  padding: 10px;
  font-size: 11px;
}
.footer > p {
  font-size: 12px;
  margin-top: 7px;
}

@media screen and (max-width: 768px) {
  .gauche {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
  }
  .gauche > h1 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
  }
  .gauche > img {
    margin-left: auto;
    margin-right: auto;
  }
  .grid > picture {
    margin-top: -50%;
  }
  .eachPrix {
    display: block;
  }
  .prix {
    margin-top: 20px;
    align-items: center;
  }
  .condition,
  .gauche > p {
    text-align: center;
  }
  .signup2 {
    width: 100%;
  }

  .desc {
    margin-top: 40%;
    flex-direction: column;
  }
  .desc > img {
    width: 100%;
  }
  .descDroite > h2 {
    font-size: 26px;
    text-align: center;
    font-weight: normal;
  }
  .descDroite > ul > li {
    font-size: 16px;
    line-height: 25px;
  }
  .signup3 {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .signup3 > a {
    width: 250px;
  }
  .signup3 > a > span {
    font-size: 15px;
  }
  .appareil > h2 {
    font-size: 25px;
  }
  .detail {
    flex-wrap: wrap;
    justify-content: center;
  }
  .eachAppareil {
    flex-basis: 50%;
    flex-grow: ;
  }
  .footer {
    padding: 0 5%;
  }
  .footer > .logo {
    width: 15%;
  }
}
@media screen and (max-width: 500px) {
  nav > .logo {
    margin: 0;
    width: 100px;
  }
  .gauche {
    max-width: 500px;
  }
  nav > .btn {
    font-size: 12px;
    margin-left: auto;
    margin-right: 1%;
    padding: 5px 10px;
  }
}
